* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.background__wrapper {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 51px 0 26px;

}

.header__logo {
    display: flex;
    column-gap: 8px;
}

.header__logo-img {
    width: 53px;
    height: 47px;
    background-image: url(../img/Logo_sprites_2in1.png);
    background-position: -83px -10px;
    /* background-image: url(../img/logoWhite.png); */
    /* transition: .5s; */
}

.header__logo-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #FFFFFF;
    transition: .3s;
}

.header__logo:hover .header__logo-img {
    /* background-image: url(../img/logoOrange.png); */
    background-position: -10px -10px;
}

.header__logo:hover .header__logo-info {
    color: #F26522;
}

.header__logo-text:first-child {
    font-size: 29px;
    line-height: 29px;
}

.header__logo-text:nth-child(2) {
    font-size: 18px;
    line-height: 18px;
}

.header__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.header__social-item {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    transition: .3s;
}

.header__social-item:hover {
    color: #F26522;
}

.header__social-item:first-child {
    margin-bottom: 19px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 261px);
    row-gap: 37px;
    column-gap: 61px;
    margin-bottom: 49px;
}

.gallery__wrap {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.gallery__card {
    position: relative;
}

.gallery__card:hover .gallery__link{
    color: #F26522;
}

.gallery__card:hover .gallery__wrapper {
    height: 55px;
    opacity: 1;
}

.gallery__img{
    width: 300px;
    height: 220px;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)) 1;
}


.gallery__link {
    padding-top: 20px;
    text-align: center;
    transition: 0.4s;

}

.gallery__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, -41px);
    background-color: #F26522;
    width: 100%;
    height: 0;
    cursor: pointer;
    transition: 0.4s;
    opacity: 0;
    overflow: hidden;
}

.gallary__box {
    display: flex;
    justify-content: space-between;
    gap: 128px;
    padding: 7px 15px 12px;

}

.gallery__box-item-desc {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.gallery__box-item-price {
    font-size: 20px;
    line-height: 20px;
}

.gallery__box-item-link {
    display: inline-block;
    padding-top: 22px;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    padding-right: 21px;
}

.gallery__box-item-link::after {
    content: '';
    background-image: url('../img/Vector\ 1\ \(1\).png');
    display: block;
    width: 5px;
    height: 10px;
    position: absolute;
    bottom: 2px;
    right: -1px;
}

.footer {
    padding-bottom: 15px;
}

.footer__info {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}